<header>
    <a href="Homepage.html" class="logo"><img src="images/LOGO.PNG" alt="Logo"></a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="dashboard">
            <div class="whole">
                <div class="search">
                    <div class="search_btn">
                        <i class="fas fa-search"></i>
                    </div>
                    <input type="search" value="" id="myInput" onchange="mySearch()" placeholder="Find a Recipe" >
                </div> 
                        
                <a class="dash" href="Homepage.html">Home</a>
                <a class="dash" href="About.html">About</a>
                <a class="dash" href="Recipes.html">Recipes</a>
                <a class="dash" href="profile.html">My Profile</a>
            
            </div>    
        </nav>
</header>
