<html>
    <head>
        <title>Login</title>
        <link rel="icon" type="image/png" href="/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/css/login.css">     
    </head>

    <body>
        <p>Hello</p>
    </body>
</html>